<div class="wrapper">
  <div class="header">
    <div class="header_side">
      <%= link_to "Back", feed_feed_path, class: "button_action button_back" %>
    </div>
    <div class="title">
      <h1>FlaringBlog</h1>
    </div>
    <div class="header_side">
    </div>
  </div>

  <div class="container_new_post" id="content">
    <form method="post" action="/post/add" enctype="multipart/form-data" class="form_new_post">
      <%= token_tag %>

      <label for="image" class="label_new_post">Image</label>
      <div class="upload_wrapper">
        <button class="button_upload">Select image</button>
        <input name="image" type="file" accept="image/*">
      </div>

      <label for="message" class="label_new_post">Message</label>
      <textarea name="message" class="input_new_post" rows="3"></textarea>

      <button type="submit" class="button_action button_new_post_submit">Create Post</button>
    </form>

    <% flash.each do |_, msg| %>
      <div class="message_error">
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>