/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #FCFCFC;
}

textarea {
    resize: none;
}

.header {
    width: 100%;
    min-width: 1000px;
    background: whitesmoke;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
}

#content {
    margin-top: 80px;
}

.header_side {
    width: 25%;
}

.title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 40px;
    color: cadetblue;
}

.message_error {
    color: #333333;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}

.button_action {
    background: cadetblue;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    text-decoration: none;
    transition-duration: 250ms;
}

.button_action:hover {
    background: steelblue;
}
.button_action:active {
    background: midnightblue;
}