.button_home {
  tab-index: 1;
  background: cadetblue;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  text-decoration: none;
  transition-duration: 250ms;
  &:hover {
    background: steelblue;
  }
  &:active {
    background: midnightblue;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  padding: 20px;
  font-size: 30px;
  color: cadetblue;
  font-weight: bold;
}

.form_login {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.login_label {
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}

.login_input {
  padding: 5px;
  color: black;
  font-size: 15px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.login_submit {
  align-self: center;
  margin-top: 20px;
}

.button_register {
  margin-top: 20px;
}
